.jumbotron {
    
    background-image: url(foto.jpg);
    
color: white;

font-family: Calibri;
margin-top: auto;
display: block;
}

.input-group{
text-align: center;
color: blueviolet
}

.thumbnail1 {
    background-color: #8b104e;
color: white;
text-align: center
}

.navbar-default {
    position: fixed;
    z-index: 99;
    width: 100%;
    

}


.thumbnail2 {
    background-color: #474a56
    ;
    color: white;
    text-align: center;
    }

.outer {
padding: 5;
left: 0;
width: 100%;
background-image: white;

height: auto;
  background-size: cover;

}

.input-group {
    margin: auto;
width: 300px;
    

}

.container-fluid {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
height: 90%;
display: block;
}

.col-lg-12 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.akhir footer{
    background-color: black;
    width: 100%
}

.page-footer {
    background-color: black;
    height: 20%;
}

